body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202b38;
    margin: 0;
    color: #fff;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

h1{
    text-align: center;
}

#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user{
    background-color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    padding: 0 50px;
}

.user:hover{
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.name{
    text-align: center;
    color:#202b38;
    margin-left: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.pfp{
    border: 1px solid #000000;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
}